<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #ff002d;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="display-1">404</h1>
    <p class="lead">Sorry, page not found.</p>
    <a th:href="@{/}" class="btn btn-secondary">Go to Home Page</a>
</div>
</body>
</html>
