<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <link href="https://cdn.jsdelivr.net/npm/codemirror@5.68.0/theme/monokai.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/post-detail.css">
    <title>Gönderi detay</title>
</head>

<body>
<div class="article-container">
    <div class="article">
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 th:text="${post.title}" class="fw-bolder mb-2" style="color: darkblue;
                font-weight: bolder;"></h1>
                <a style="text-decoration: none; color: #00ffad"
                   th:href="@{'/user/' + ${post.userDTO.id} + '/profile'}">
                    <p th:text="${post.userDTO.nickname} + ' tarafından yayınlandı.'" class="lead"
                       style="font-size: 14px;color:#006c46; display: inline-block;margin-top: 10px"></p>
                </a>
                <!-- Post meta <content-->
                <div th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss') + ' tarihinde yayınlandı.'}"
                     class="text-muted fst-italic mb-1"></div>
                <div th:text="${#temporals.format(post.updatedDate, 'yyyy-MM-dd HH:mm:ss') + ' tarihinde düzenlendi.'}"
                     class="text-muted fst-italic mb-1"></div>
                <div style="border-bottom: 1px solid #ababab;margin: 1.5rem 0"></div>
            </header>
            <!-- Post content-->
            <section class="mb-5" style="overflow-wrap: break-word;">
                <div th:utext="${post.content}" style="white-space: pre-wrap;"></div>
            </section>
            <hr>
        </article>
        <div th:each="comment:${comments}" class="be-comment-block">
            <div class="be-comment">
                <div class="be-img-comment">
                    <a th:href="@{'/user/' + ${comment.userDTO.id} + '/profile'}">
                        <img th:src="@{/images/{imagePath}(imagePath=${comment.userDTO.imagePath})}" alt=""
                             class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">

                    <span class="be-comment-name" th:if="${post.userDTO.email == comment.userDTO.email}">
                        <a style="text-decoration: none; color: #00159d;
                        font-weight: bold; font-size: 1rem"
                           th:href="@{'/user/' + ${comment.userDTO.id} + '/profile'}">
                            <span style="font-size: 14px"
                                  th:text="${comment.userDTO.nickname + ' (Gönderi Sahibi)'}"></span>
                        </a>
                    </span>
                    <span th:unless="${post.userDTO.email == comment.userDTO.email}">
                        <a style="text-decoration: none; color: #00159d;
                            font-weight: bold; font-size: 1rem"
                           th:href="@{'/user/' + ${comment.userDTO.id} + '/profile'}">
                            <span style="font-size: 14px" th:text="${comment.userDTO.nickname}"></span>
                        </a>
                    </span>
                    <span th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm:ss')}"
                          class="be-comment-time">
					<i class="fa fa-clock-o"></i></span>

                    <div th:text="${comment.comment}" class="be-comment-text"></div>
                </div>
            </div>
        </div>
        <form th:action="@{'/posts/'+${post.id}+'/create-comment'}" method="POST" th:object="${newComment}"
              class="form-block">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea th:field="*{comment}" id="comment" name="comment" class="form-input"
                                  style="resize: none;width: 100%;height: max-content" required
                                  placeholder="Yorum yap..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Yorum ekle</button>
                    <div th:if="${commentSizeError}" style="margin-top: 5px" th:text="${commentSizeError}"
                         class="alert alert-danger"></div>
                    <div th:unless="${commentSizeError}" class="alert alert-danger" style="display: none"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>

</html>
