<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil düzenle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style th:replace="~{fragment::navbar-style}"></style>
    <style>
        body {
            background-color: #e0e0de;
        }

        .error {
            color: red;
        }

        .inf-content {
            border: 1px solid #b2b2b0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background-color: #e0e0de;
            padding: 20px;
        }

        .user-update-inputs {
            border: none;
            background-color: #e0e0de;
        }

        .image-upload-button {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:replace="~{fragment :: navbar}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img alt="" style="width:100%; max-width: 400px;background-color: #e0e0de" title=""
                     class="img-circle img-thumbnail isTooltip mb-4"
                     th:if="${user.imagePath != null}"
                     th:src="@{/images/{imagePath}(imagePath=${user.imagePath})}"
                     data-original-title="Usuario">

                <div class="image-upload-button">
                    <div th:if="${user.email == principalEmail}">
                        <form th:action="@{'/user/upload-user-image'}" method="post" enctype="multipart/form-data"
                              style="margin-bottom: 1rem">
                            <div class="mb-3">
                                <label for="image" class="form-label">Resim seç:</label>
                                <input class="form-control" type="file" accept=".jpg,.jpeg,.png"
                                       id="image" name="image">
                            </div>

                            <button type="submit" class="btn btn-primary">Resim yükle</button>
                        </form>

                        <div th:if="${emptyFile}" th:text="${emptyFile}" class="alert alert-danger mt-3"></div>
                        <div th:if="${unknownImageError}" th:text="${unknownImageError}"
                             class="alert alert-danger mt-3"></div>
                        <div th:if="${imageExtensionErrorMessage}" th:text="${imageExtensionErrorMessage}"
                             class="alert alert-danger mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="inf-content">
                <form method="post" th:action="@{/user/update-profile}" th:object="${user}">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-person text-primary"></span>
                                        Ad:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" th:value="${user.firstName}" id="firstName" name="firstName"
                                           th:field="*{firstName}" required
                                           class="form-control user-update-inputs">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-person text-primary"></span>
                                        Soyad:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" th:value="${user.lastName}" th:field="*{lastName}" required
                                           class="form-control user-update-inputs">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-person text-primary"></span>
                                        Kullanıcı adı:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" th:field="*{nickname}" class="form-control user-update-inputs"
                                           required th:value="${user.nickname}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-eye text-primary"></span>
                                        Rol:
                                    </strong>
                                </td>
                                <td th:if="${user.role == 'ROLE_ADMIN'}">ADMIN</td>
                                <td th:unless="${user.role == 'ROLE_ADMIN'}">USER</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-envelope text-primary"></span>
                                        Email:
                                    </strong>
                                </td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-calendar text-primary"></span>
                                        Oluşturulma tarihi:
                                    </strong>
                                </td>
                                <td th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="bi bi-calendar text-primary"></span>
                                        Güncelleme tarihi:
                                    </strong>
                                </td>
                                <td th:text="${#temporals.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </form>

                <div class="text-center mt-3">
                    <i class="bi bi-info-circle-fill text-info"></i>
                    <span class="ms-2" style="color: #6c757d;">Ad, Soyad ve Kullanıcı adınızı güncellemek için üzerine tıklayınız</span>
                </div>

                <div th:if="${firstAndLastNameException}" th:text="${firstAndLastNameException}"
                     class="alert alert-danger mt-3"></div>
                <div th:if="${nicknameSizeException}" th:text="${nicknameSizeException}"
                     class="alert alert-danger mt-3"></div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{fragment :: navbar-script}"></script>
</body>
</html>
