<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
        body {
            background-color: #e9ebee;
        }

        .error {
            color: red;
        }

        .inf-content {
            border: 1px solid #DDDDDD;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
        }

        .user-update-inputs {
            border: none;
            background-color: #E9EBEE;
        }
    </style>
</head>
<body>

<div th:replace="~{fragment :: navbar}"></div>

<div class="container bootstrap snippets bootdey" style="width: 90%">
    <div class="panel-body inf-content" style="display: flex;margin-top: 3.5rem">
        <div class="row" th:object="${user}" style="display: flex;justify-content: space-between">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                     th:if="${user.imagePath != null}"
                     th:src="@{/images/{imagePath}(imagePath=${user.imagePath})}" data-original-title="Usuario">

                <div class="image-upload-button">
                    <div th:if="${user.email == principalEmail}">
                        <form th:action="@{'/user/upload-user-image'}" method="post" enctype="multipart/form-data">
                            <br>
                            <div class="mb-3">
                                <input class="form-control" type="file" accept=".jpg,.jpeg,.png"
                                       id="image" name="image"
                                       style="background-color: #E9EBEE;color: #003180">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                        <br>
                        <div th:if="${emptyFile}" th:text="${emptyFile}" class="alert alert-danger"></div>
                        <div th:if="${unknownImageError}" th:text="${unknownImageError}"
                             class="alert alert-danger"></div>
                        <div th:if="${imageExtensionErrorMessage}" th:text="${imageExtensionErrorMessage}"
                             class="alert alert-danger"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 2.5rem">
                <form method="post" th:action="@{/user/update-profile}" th:object="${user}">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        First Name
                                    </strong>
                                </td>
                                <!--                            <td class="text-primary" th:text="${user.firstName}">-->
                                <!--                            </td>-->
                                <td>
                                    <input type="text" th:value="${user.firstName}" id="firstName" name="firstName"
                                           th:field="*{firstName}" required
                                           class="text-primary user-update-inputs">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                        Last Name
                                    </strong>
                                </td>
                                <!--                            <td class="text-primary" th:text="${user.lastName}">-->
                                <td>
                                    <input type="text" th:value="${user.lastName}"
                                           th:field="*{lastName}" required
                                           class="text-primary user-update-inputs">
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                        Username
                                    </strong>
                                </td>
                                <!--                            <td class="text-primary" th:text="${user.nickname}">-->
                                <td>
                                    <input type="text" th:field="*{nickname}"
                                           class="text-primary user-update-inputs" required
                                           th:value="${user.nickname}"/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                        Role
                                    </strong>
                                </td>
                                <td class="text-primary" th:if="${user.role == 'ROLE_ADMIN'}">ADMIN</td>
                                <td class="text-primary" th:unless="${user.role == 'ROLE_ADMIN'}">USER</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="text-primary" th:text="${user.email}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Created
                                    </strong>
                                </td>
                                <td class="text-primary"
                                    th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Modified
                                    </strong>
                                </td>
                                <td class="text-primary"
                                    th:text="${#temporals.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <br>
                <p th:if="${firstAndLastNameException}" th:text="${firstAndLastNameException}"
                   class="btn btn-danger" style="cursor:auto"></p>
                <br>
                <p th:if="${nicknameSizeException}" th:text="${nicknameSizeException}"
                   class="btn btn-danger" style="cursor:auto"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>