<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
        body {
            background-color: #e9ebee;
        }

        .inf-content {
            border: 1px solid #DDDDDD;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>

<div th:replace="~{fragment :: navbar}"></div>

<div class="container bootstrap snippets bootdey" style="width: max-content">
    <div th:if="${param.update_success}" class="alert alert-info">
        User has been updated successfully.
    </div>
    <div th:if="${param.delete_success}" class="alert alert-info">
        User has been deleted successfully.
    </div>
    <div class="panel-body inf-content" style="display: flex;margin-top: 3.5rem">
        <div class="row" th:object="${user}" style="display: flex;justify-content: space-between">
            <div class="col-md-4">
                <img alt="" style="width:500px;" title="" class="img-circle img-thumbnail isTooltip"
                     th:if="${user.imagePath != null}"
                     th:src="@{/images/{imagePath}(imagePath=${user.imagePath})}" data-original-title="Usuario">

                <div class="edit-profile-go-to-post-buttons">
                    <br><br><br>
                    <a class="btn btn-primary" th:href="@{/user/edit}">Edit Profile</a>
                    <a class="btn btn-info" th:href="@{'/user/'+${user.id}+'/profile'}"
                       style="align-self: flex-end">My Posts</a>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 2.5rem">
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>
                                    First Name
                                </strong>
                            </td>
                            <td class="text-primary" th:text="${user.firstName}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>
                                    Last Name
                                </strong>
                            </td>
                            <td class="text-primary" th:text="${user.lastName}">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                    Username
                                </strong>
                            </td>
                            <td class="text-primary" th:text="${user.nickname}">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                    Role
                                </strong>
                            </td>
                            <td class="text-primary" th:if="${user.role == 'ROLE_ADMIN'}">ADMIN</td>
                            <td class="text-primary" th:unless="${user.role == 'ROLE_ADMIN'}">USER</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                                    Email
                                </strong>
                            </td>
                            <td class="text-primary" th:text="${user.email}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Created
                                </strong>
                            </td>
                            <td class="text-primary"
                                th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Modified
                                </strong>
                            </td>
                            <td class="text-primary"
                                th:text="${#temporals.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>