<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user.css">
    <style th:replace="~{fragment::navbar-style}"></style>
</head>

<body>

<div th:replace="~{fragment :: navbar}"></div>
<div class="container">
    <div class="profile-header">
        <img alt="Profile Picture" class="img-circle img-thumbnail isTooltip profile-image"
             style="background-color: #e0e0de"
             th:if="${user.imagePath != null}"
             th:src="@{/images/{imagePath}(imagePath=${user.imagePath})}" data-original-title="Usuario">
        <h2>Profil</h2>
    </div>

    <div class="profile-info">
        <table>
            <tbody>
            <tr>
                <th><span class="bi bi-person text-primary"></span> Ad:</th>
                <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
                <th><span class="bi bi-person text-primary"></span> Soyad:</th>
                <td th:text="${user.lastName}"></td>
            </tr>
            <tr>
                <th><span class="bi bi-person text-primary"></span> Kullanıcı adı:</th>
                <td th:text="${user.nickname}"></td>
            </tr>
            <tr>
                <th><span class="bi bi-eye text-primary"></span> Rol:</th>
                <td th:if="${user.role == 'ROLE_ADMIN'}">ADMIN</td>
                <td th:unless="${user.role == 'ROLE_ADMIN'}">USER</td>
            </tr>
            <tr>
                <th><span class="bi bi-envelope text-primary"></span> Email:</th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <th><span class="bi bi-calendar text-primary"></span> Oluşturulma tarihi:</th>
                <td th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th><span class="bi bi-calendar text-primary"></span> Güncelleme tarihi:</th>
                <td th:text="${#temporals.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-container">
        <a class="btn btn-primary profile-button" th:href="@{/user/edit}">Profili düzenle</a>
        <a class="btn btn-info profile-button" th:href="@{'/user/'+${user.id}+'/profile'}">Gönderiler</a>
    </div>
    <br>
    <div th:if="${param.update_success}" class="alert alert-info">
        Profil başarıyla güncellendi.
    </div>
</div>

<script th:replace="~{fragment :: navbar-script}"></script>
</body>

</html>