<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
        body {
            background-color: #e9ebee;
        }

        #post-process th {
            text-align: center;
            font-weight: bolder;
            color: #14538f;
            background-color: #E9EBEE;
        }

        #post-process:hover {
            background-color: #eee4e4;
        }

        #post-process-data {
            text-align: center;
            font-weight: bolder;
            background-color: #E9EBEE;
        }

        #post-process-data:hover {
            background-color: #eee4e4;
        }

        .table-user-information tbody tr:hover {
            background-color: #eee4e4;
        }

    </style>
</head>
<body>

<div th:replace="~{fragment :: navbar}"></div>
<div class="container bootstrap snippets bootdey" style="width: 75%">
    <div style="display: flex; flex-direction: column">

        <div class="panel-body inf-content" style="display: flex;margin-top: 3.5rem">
            <div class="row" th:object="${user}" style="
        justify-content: space-between; border-bottom: 1px solid #c4c0c0;
        border-right:1px solid #c4c0c0 ">
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                         th:if="${user.imagePath != null}"
                         th:src="@{/images/{imagePath}(imagePath=${user.imagePath})}" data-original-title="Usuario">
                </div>
                <div class="col-md-6" style="margin-top: 2.5rem;margin-bottom: 3rem">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        First Name
                                    </strong>
                                </td>
                                <td class="text-primary" th:text="${user.firstName}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                        Last Name
                                    </strong>
                                </td>
                                <td class="text-primary" th:text="${user.lastName}">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                        Username
                                    </strong>
                                </td>
                                <td class="text-primary" th:text="${user.nickname}">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                        Role
                                    </strong>
                                </td>
                                <td class="text-primary" th:text="${user.role}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="text-primary" th:text="${user.email}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Created
                                    </strong>
                                </td>
                                <td class="text-primary"
                                    th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Modified
                                    </strong>
                                </td>
                                <td class="text-primary"
                                    th:text="${#temporals.format(user.updatedDate, 'yyyy-MM-dd HH:mm:ss')}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr id="post-process">
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <!--                            <th scope="col">Content</th>-->
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="post-process-data" th:each="post:${posts}">
                            <td th:text="${post.id}"></td>
                            <td th:text="${post.title}"></td>
                            <!--                            <td th:utext="${post.content}"></td>-->
                            <!--                            <td th:utext="${@truncateTextUtil.truncateText(post.content, 50)}"></td>-->
                            <td>
                                <a th:if="${principalEmail == post.userDTO.email}"
                                        th:href="@{/posts/update-post/{id}(id=${post.id})}" class="btn btn-primary">Update</a>
                                <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-primary">Go To Post</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
